<div class="header-principal">
    <div class="header-principal2">
        <div>
            aqui el icono
        </div>
        <div class="lista">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">categories</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#">about</a></li>
            </ul>
        </div>
        <div class="header-button">
            <app-button nameIcon="search"></app-button>
            <app-button nameIcon="shopping-cart"></app-button>
            <app-button nameIcon="user"></app-button>
            <!--<app-button titleButton="search" [buttonSearch]="true"></app-button>
            <app-button titleButton="shop now" [buttonBlue]="true"></app-button>-->
            
            
        </div>
    </div>
   
</div>