 
<ng-container *ngIf="buttonSearch; else second">   
    <button class="btn-search">
        {{titleButton}}
    </button> 
    
</ng-container>

<ng-template #second>
    <ng-container *ngIf="buttonBlue; else trird">
        <button class="btn-shopNow">
            {{titleButton}}
        </button>  
    </ng-container>

</ng-template>
<ng-template #trird>
    <ng-container>
        <button>
            <i-feather [name]="nameIcon" class="btn-icon"></i-feather>
        </button>    
    </ng-container>

</ng-template>
